body {
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #636b61;
}

.text {
    display: block;
    height: 400px;
    width: 700px;
    background-color: #72788d;
    border: 1px solid #72788d;
    border-radius: 1px;
    font-size: 1rem;
    font-display: block;
}

.text :hover {
    background-color: white;
}

button {
    width: 100%;
    height: 3rem;
    background-color: #7a89c2;
    border: 1px solid #7a89c2;
    border-radius: 1px;
    color: white;
}
